---
import {
  Navigation,
  NavigationActions,
  NavigationLogo,
  NavigationSeparator,
} from "@/core/components/navigation";
import { NavigationLinks } from "@/core/composites/navigation-links";
import { ProfilePreview } from "@/core/composites/profile-preview";
import { ThemesToggle } from "@/core/composites/themes-toggle";
import { GithubIcon } from "@/core/icons/github";
import { cn } from "@/core/lib/cn";
import { buttonVariants } from "@/core/ui/button";
import type { ComponentPropsWithRef } from "react";

type Props = ComponentPropsWithRef<typeof Navigation>;

const locals = Astro.locals.session;

const { ...props } = Astro.props;
---

<Navigation {...props}>
  <NavigationLogo className="rounded-full [&_svg]:rounded-full" />

  <NavigationLinks />

  <NavigationActions>
    <ThemesToggle
      className="text-muted-foreground size-8 rounded-full"
      variant="ghost"
      client:load
    />

    <a
      href="https://github.com/LenghakHok/moodme"
      about="_blank"
      class={cn(
        buttonVariants({ size: "icon", variant: "ghost" }),
        "size-8 rounded-full text-muted-foreground",
      )}
    >
      <GithubIcon />
      <span class="sr-only">Githu Repo</span>
    </a>

    <NavigationSeparator className="mr-2" />
    <ProfilePreview client:load user={locals?.user!} />
  </NavigationActions>
</Navigation>
