---
import HomeLayout from "@/core/layouts/home-layout.astro";
---

<HomeLayout>
  <section
    class="flex size-full min-h-dvh flex-row items-start justify-center gap-6 self-start"
  >
    <slot />
  </section>
</HomeLayout>
